@import url('https://fonts.cdnfonts.com/css/verdana');
@import url('https://fonts.cdnfonts.com/css/helvetica-neue-5');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.title {
    font-size: 25px;
    justify-self: center;
    font-family: 'Verdana', sans-serif;
    color: white;
}

::placeholder {
    color: #979D9A;
}

.subtitle {
    font-size: 25px;
    justify-self: center;
    font-family: 'Helvetica Neue', sans-serif;
}

body {
    background-color: black;
}

#songinquiryform {
    background-image: url("/Images/Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    border: 1px solid black;
    border-radius: 2px;
    display: grid;
    justify-self: center;
    width: 50vw;
    background-color: white;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-right: 1em;
    padding-left: 1em;
}

#SongLabel {
    font-size: 17px;
    justify-self: left;
    color: #1db954;
}

#SongInfo {
    display: flex;
    flex-direction: row;
    column-gap: 0.3em;
}

#SongName,
#ArtistName {
    width: 45%;
    height: 35px;
    background-color: #000;
    border-style: solid !important;
    border-color: #000 !important;
    border-radius: 30px;
    padding-left: 1em;
    font-size: small;
}

#SongName:focus,
#ArtistName:focus {
    outline: none;
    border: 2px solid #848884;
    background-color: #212121;
    color: white;
}

#CoverArtOptionContainer {
    display: flex;
    flex-direction: grid;
    justify-self: center;
    column-gap: 0.3em;
    background-color: #000;
    border-style: solid !important;
    border-color: #000 !important;
    border-radius: 30px;
    padding-left: 1em;
}
#Genre{
  border-radius: 30px;
  border:2px solid white;
  color:#979D9A; 
  width:100%;
  height:40px;
  padding-left:1em;
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  background-color: #000;
}
#resetbtn {
    width: 15%;
    justify-self: center;
    border-style: solid;
    color: white;
    background-color: #000;
    border: none;
    border-radius: 6px;
    scale: 1.5;
}

#submitbtn {
    width: 25%;
    justify-self: center;
    color: white;
    border-style: solid;
    background-color: #000;
    border: none;
    border-radius: 7px;
    padding: 1em;
    scale: 1.5;
}

#submitbtn:hover,
#resetbtn:hover {
    background-color: #1db954;
    cursor: pointer;
    border: none;
}