body {
  background: url("/Images/Background.jpg") no-repeat center;
    height: 100vh;
        background-size: cover;
    background-attachment: fixed;
  font-family: "Arial", sans-serif;
}
.Title{
  color:white;
  text-align: center;
  font-size: 50px;
}

.Song {
  max-width: 900px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 14px;
  scale: 1;
}

.Song-item {
  background: #000;
  color: #fff;
  border-radius: 999px;
  padding: 18px 22px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.Song-text {
  font-size: 26px;
  font-weight: 500;
  letter-spacing: 0.5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.PlaylistaddButton {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  border: 2px solid #b3b3b3;
  background: transparent;
  color: #b3b3b3;
  font-size: 30px;
  cursor: pointer;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}
.PlaylistaddButton:hover {
  background: transparent;
  color: #fff; 
  border-color: #fff;
}

.PlaylistaddButton img {
  width: 38px;   /* Spotify-like icon size */
  height: 38px;
  display: block; /* removes baseline offset */
}